.google-style {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    flex-direction: column;
    align-items: center;

}

.google {
    margin-bottom: 35px;
}

.google-image {
    height: 90px;
    width: 265px;
}




/* input area style------------------------------------------------ */
.btn {
    width: 560px;
    height: 40px;
    border-radius: 25px;
    border-color: rgb(216, 213, 213);
    background-color: white;
    border-style: solid;
    border-width: thin;
    outline: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
}


input:hover[type="text"] {
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px lightgray; */
    /* -webkit-box-shadow: 0 0 5px 2px lightgray; */
    /* -moz-box-shadow: 0 0 5px 2px rgb(225, 222, 222); */
    box-shadow: 0 0 4px 2px rgb(223, 222, 222);
}

.input-area {
    position: relative;
    margin-bottom: 30px;

}
.input-area ::placeholder{
    font-size: 15px;
}



/* voice area style------------------------------------------------------------------ */
.voice-image {
    height: 30px;
    width: 27px;
}

.voice-area {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 18px;
    cursor: pointer​;
}




/* search area style------------------------------------------------------------------- */

.search-img {
    width: 17px;

}

.search-area {
    position: absolute;
    display: inline-block;
    left: 18px;
    top: 15px;
}